.btnResult {
  background: $second-color;
  color: white;
  font-size: 1.8rem;
  padding: 10px 50px;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.2s;
  box-shadow: $box-shadow;
}

.resultWrapp {
  max-width: 1024px;
  min-height: 100vh;
  margin: 0 auto;
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  background-color: rgba(255, 255, 255, 0.8);
  font-size: 1.5rem;
}

.resultDiv {
  flex-basis: 100%;
  border-bottom: 1px solid rgba(0, 0, 30, 0.2);
  margin-bottom: 10px;
}

.resultDivItem {
  padding-bottom: 10px;

  & .answerSelected {
    font-weight: 700;
  }

  & .answerSelectedStatus {
    font-style: italic;
  }

  & .answerCorrect {
    color: $second-color;
  }

  & .answerIncorrect {
    color: $third-color;
  }
}
